EXPO_PUBLIC_SUPABASE_URL=https://zozrbvpkaigkxysrmhaz.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpvenJidnBrYWlna3h5c3JtaGF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM3MTcwNTIsImV4cCI6MjA3OTI5MzA1Mn0.kqjf0toOqiq5DRE8iBB1Nn19P6Qnl7-JVQAk4xaYRTY